/* meal search  */

.meal-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
  30deg,
  hsl(0deg 0% 100%) 0%,
  hsl(53deg 24% 90%) 15%,
  hsl(54deg 23% 80%) 28%,
  hsl(55deg 23% 70%) 39%,
  hsl(47deg 22% 76%) 46%,
  hsl(34deg 21% 82%) 52%,
  hsl(0deg 19% 88%) 57%,
  hsl(0deg 19% 92%) 63%,
  hsl(0deg 19% 96%) 68%,
  hsl(0deg 0% 100%) 75%,
  hsl(1deg 24% 88%) 82%,
  hsl(1deg 23% 75%) 91%,
  hsl(0deg 21% 63%) 100%
);
    color: white;
    border: 2px solid rgb(155, 134, 134);
    padding: 10px;
}
.meal-search-box {
    margin: 0;
    display: flex;
}
.meal-search-box input {
    height: 50px;
    font-size: 30px;
    border-radius: 50px;
    margin: 0;

}
.meal-search-box button {
    height: auto;
    border-radius: 50%;
    margin: 0;
}


/* meal result  */
.meal-results {
    width: 100%;
    box-sizing: border-box;
    display: flex;

}
img {
    width: 100%;
}
.meal-item {
    width: 90%;
    padding: 10px;
    align-items: center;
    border: 2px solid rgb(155, 134, 134);
    margin: 5px;
    box-sizing: border-box;
    background-color: rgba(233, 217, 231, 0.829);
}
.meal-item:hover {
    scale: 1.5;
    transition: 2s;
    position: relative;
}
.meal-img {
}

#meal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;

}
.meal-name {
padding: 10px;


}

.meal-details {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.meal-details-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;

}
.recipe-meal-img {
    width: 100%;
}
.recipe-meal-img img {
    width: 100%;
    height: 500px;
}



.showRecipe {
    position: fixed;
    top: 30px;
}