body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://img.freepik.com/free-photo/futuristic-smart-city-with-5g-global-network-technology_53876-98438.jpg?w=1380&t=st=1671784587~exp=1671785187~hmac=eef453df1145a3dd455494a7f57c171efbc462a95a6fe267b04fe87c7202b567h);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
p {
  margin-bottom: 5px;
}

button {
  margin-bottom: 20px;
}
.btn-danger {
  border: 2px solid #74728f;
  background-color: #74728f;
  border-color: #a1a7ad;

}



.btn-warning {
  border: 2px solid #74728f;
  background-color: #74728f;
  border-color: #a1a7ad;}



.btnAddBook {
 
  padding: 20px;
  font-size: 2rem;
  border: 2px solid #74728f;
  background-color: #275d7f;
  border-color: #0b0c0c;

}



.btn-danger:hover {
  background-color: #bd2130;
  border-color: #b21f2d;
  transition: 1s;
  scale: 1.2;}



.btn-warning:hover {
  background-color: #e0a800;
  border-color: #d39e00;
  transition: 1s;
  scale: 1.2;
}



.btnAddBook:hover {
  background-color: #8da1b7;
  border-color: #737b84;
  border: 2px solid #74728f;
  transition: 1s;
  scale: 1.2;
}



.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}



.btn-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}



.btnAddBook:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

#addBookForm {
  border: 1px solid black;
  width: 20%;
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
align-items: center;
background-color: rgba(255, 255, 255, 0.627);
}

h1 {
  color: #231a39;
  text-align: center;
}

.form {
  margin-bottom: 10px;
}



.form-control {
  width: 200px;
  height: 20px;
}

label{
  display: block;
  color: #231a39;

  font-weight: bold;
}



#books {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}



#books .card {
  margin-bottom: 20px;
  border: 2px solid #231a39;
  background-color: rgba(253, 253, 255, 0.832);

}




#books .card img {
  width: 300px;
  height: 400px
}

.card-body {
text-align: center;
}