.btn-danger {

  background-color: #dc3545;

  border-color: #dc3545;

}



.btn-warning {

  background-color: #ffc107;

  border-color: #ffc107;

}



.btnAddBook {

  background-color: #007bff;

  border-color: #007bff;

}



.btn-danger:hover {

  background-color: #bd2130;

  border-color: #b21f2d;

}



.btn-warning:hover {

  background-color: #e0a800;

  border-color: #d39e00;

}



.btnAddBook:hover {

  background-color: #0069d9;

  border-color: #0062cc;

}



.btn-danger:focus {

  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);

}



.btn-warning:focus {

  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);

}



.btnAddBook:focus {

  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);

}

#addBookForm {

  margin: 20px;

}



.form {

  margin-bottom: 10px;

}



.form-control {

  width: 200px;

  height: 20px;

}

label{

  display: block;

  color: red;

  font-weight: bold;

}



#books {

  display: flex;

  flex-wrap: wrap;

  justify-content: flex-start;

  gap: 10px;



}



#books .card {

  margin-bottom: 20px;

  border: 2px solid black;

}




#books .card img {

  width: 300px;

  height: 400px

}

.card-body {

text-align: center;

}