* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    /* background-color: rgb(213, 180, 180); */
    background-image: url(./images/photo-1497032628192-86f99bcd76bc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    box-sizing: border-box;
}



#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.left > h1 {
    margin: 0;
    font-family: 'Abril Fatface', cursive;
}
.left span {
    color: rgb(253, 255, 254);
}

.right > i {
    padding: 5px;
    color: rgb(9, 10, 9);
}
.right {
    display: flex;
    place-self: center center;

}


h1 {
	color: #541b1b;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
    font-family: 'Abril Fatface', cursive;
    margin-top: 100px;
    text-shadow: 2px 2px 4px #000000;


}

.title{
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    font-size: 1.15rem;
}

.add{
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: rgb(62, 7, 5);
    color: white;
    cursor: pointer;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
    transition: 1s;

}

#container {
    background-color: rgba(255, 255, 255, 0.874);
    width: 40%;
    margin: 0 auto;

    
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.item{
	padding: 0.5rem;
	border-bottom: 4px solid #fff;
	margin-bottom: 1.5rem;
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color:#541b1b;
	font-size: 1.4rem;
	width: 245px;
}
.item_input:hover {
    scale: 1.2;
    transition: 1s;
}


.remove{
	background: none;
	outline: none;
	border: none;
	color: rgb(185, 145, 145);
	font-size: 1rem;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
}
.remove:hover {
	color: rgb(89, 63, 63);
    transition: 1s;

}


